div {
   border: dotted 2px blueviolet;
   display: inline-block;

   font-size: 32px;
   font-family: Verdana;


   padding: 6px 9px;
   margin: 5px 8px;

   width: 110px;
   height: 110px;

   overflow: scroll;
}